
<% if current_user %>
	
	<ul class="nav nav-tabs navbar navbar-inverse " >			
		<li><%= link_to "home", root_path %></li>
		<li><%= link_to "Invoices", invoices_path %></li>
		
		<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
	</ul>
	<small> Welcome <%= current_user.email %></small>
<%end%>




